

.banner-design{
    background-image:linear-gradient(90deg,rgb(0, 0, 0),transparent), url("../header-design/background.png");
    border: 1px solid #000;
    background-size: 102%;
    background-position:20%;
    padding-block:150px;
    position: relative;
}
.banner-design .address-design .title-address{
    position: absolute;
    left:5%;
    top:50%;
    transform: translateY(-50%);
    font-size: 70px;
    color:rgba(255, 255, 255, 0.633);
    text-shadow: -2px -2px 0 white ;
    transition: 2s;
}
.container-design{
    margin-top: 80px;
    padding-inline:5%;
}
.container-design .list-post{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3%;
    grid-row-gap: 3%;
}
.container-design .list-post .top-items{
    height:300px;
    overflow: hidden;
    margin-bottom: 15px;
}
.container-design .list-post .post-items .content-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}